.decorate-body {
    background-color: #f0f0f0;
}

.decorate-header {
    background-color: black;
    border-left: 3px solid white; /* Thin white outline on the left side */
    border-right: 3px solid white; /* Thin white outline on the right side */
    border-bottom: 3px solid white; /* Thin white outline on the bottom */
}

.decorate-content {
    background-color: cornsilk;
}