.decorate-body {
    background-color: #27272D;
    padding: 0;
}

.decorate-header {
    background-color: cornsilk;
    border-left: 5px solid #E73348;
    border-right: 5px solid #E73348;
    border-bottom: 5px solid #E73348;
}

.decorate-content {
    background-color: cornsilk;
    border-left: 5px solid #E73348;
    border-right: 5px solid #E73348;
}

.decorate-footer {
    background-color: cornsilk;
    border-left: 5px solid #E73348;
    border-right: 5px solid #E73348;
    border-top: 5px solid #E73348;
}

/* #6C5-186 */
/* #E73348 */