.decorate-body {
    background-color: #27272D;
    padding: 0;
}

.decorate-header {
    background-color: cornsilk;
    border-left: 3px solid #6C5186;
    border-right: 3px solid #6C5186;
    border-bottom: 3px solid #6C5186;
}

.decorate-content {
    background-color: cornsilk;
    border-left: 3px solid #6C5186;
    border-right: 3px solid #6C5186;
}

.decorate-footer {
    background-color: cornsilk;
    border-left: 3px solid #6C5186;
    border-right: 3px solid #6C5186;
    border-top: 3px solid #6C5186;
}

/* #6C5186 */
/* #E73348 */