img {
    max-width: 100%;
    height: auto;
}



.structure-body {
    display: flex;
    flex-wrap: wrap;
}

.structure-header {
    margin: 0 auto;
    width: 95%;
    padding: 10px;
}

.structure-page-content {
    margin: 0 auto; /* Center the content */
    width: 90%; /* Take up the full width initially */
    padding: 0 20px; /* Add padding to the sides for better spacing */
  
    /* Add any additional styles you may need for your content */
}

.structure-footer {
    margin: 0 auto;
    width:95%;
    padding: 10px;
}
