img {
    max-width: 100%;
    height: auto;
}



.structure-header {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 10px; /* Add padding for better styling */
    z-index: 1000; /* Ensure the header is above other elements */
}

.structure-page-content {
    margin: 0 auto; /* Center the content */
    max-width: 800px; /* Set the maximum width */
    width: 100%; /* Take up the full width initially */
    padding: 0 20px; /* Add padding to the sides for better spacing */
  
    /* Add any additional styles you may need for your content */
}